body {
  background-image: url("Bacground.jfif");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  background-size: cover;
}

h1 {
  color: black;
  text-align: center;
  font-size: 220%
}

h2 {
  color: black;
  text-align: center;
  font-size: 160%
}

p {
  font-family: verdana;
  font-size: 120%;
}

img:hover {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
