body {
  background-image: url("Bacground.jfif");
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 120%;
}
